<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="{{ static_url('favicon.ico')}}">
        <title>{{image_name}}</title>
        <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="{{static_url('css/bootstrap.min.css')}}"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
        <script src="{{static_url('js/jquery-3.3.1.min.js')}}"></script>
        <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
        <script src="{{static_url('js/bootstrap.min.js')}}"></script>
        <script src="{{static_url('js/page-check-detail.js')}}"></script>
        <link href="{{static_url('css/sign-in.css')}}" rel="stylesheet">
    </head>
    <body>
        <div class="container"><!-- /.container -->
            <div class="header clearfix">
                <nav>
                    <span class="nav nav-pills pull-left">
                        <a href="/" class="btn btn-link">返回</a>
                    </span>
                    <span class="nav nav-pills pull-right">
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#myModal" id="btn-login">管理员登录</button>
                        <li class="dropdown" id="user-span">
                             <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="user">
                                    {{user}}
                                 <span class="caret"></span>
                            </a>
                              <ul class="dropdown-menu">
                                <li><a href="/logout">退出</a></li>
                              </ul>
                         </li>
                    </span>
                </nav>
            </div>
            <div class="starter-template">
                <h1>{{ image_name }}</h1>
                <p class="lead">版本列表</p>
      </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <table class="table">
                        <thead>
                          <tr>
                            <th>编号</th>
                            <th>版本号</th>
                            <th>创建时间</th>
                            <th>发布时间</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for i in range(len(tags_time)) %}
                            <tr>
                                <td>{{i}}</td>
                                {% set tags = tags_time[i] %}
                                <td>{{tags.get("tag")}}
                                {% set image = image_name.split('/')[1] if len(image_name.split('/')) == 2 else image_name%}
                                {% if image in online and tags.get("tag") == online.get(image).get("tag") %}
                                        <sup id="online"><font color="green">k8s</font></sup>
                                {% end %}
                                </td>
                                <td>{{tags.get("time")}}</td>
                                {% if  image in online and tags.get("tag") == online.get(image).get("tag") %}
                                        <td>{{online.get(image).get('update_time')}}</td>
                                {% else %}
                                        <td></td>
                                {% end %}
                                {% if image in online and user is not None%}
                                        <td class="online"><a href = "JavaScript:void(0)" rel="/publish/{{image_name}}?tag={{tags_time[i].get('tag')}}">发布到k8s</a></td>
                                {% end %}
                                {% if user is not None%}
                                    <td class="del"><a href = "JavaScript:void(0)" rel="/delete/{{image_name}}?tag={{tags_time[i].get('tag')}}">删除</a></td>
                                {% end %}
                            </tr>
                          {% end %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModal" tabindex="-200" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">管理员登录</h4>
            </div>
                    <form class="form-signin">
        <label for="inputUserName" class="sr-only">账号</label>
        <input type="text" id="inputUserName" class="form-control" placeholder="管理员账号" required autofocus>
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="密码" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" id="remember-me"> 记住
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
      </form>
                </div><!-- /.modal -->
            </div>
        </div><!--登录模态框>

    </body>
</html>